<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dearmond menu</title>

    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- vue.js 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="stylesheet" href="./base.css" />
  </head>

  <body>
    <div id="app">
      <!-- logo -->
      <div class="my-7 h-14 w-full flex justify-center items-center">
        <img class="h-16" :src="dearMondLogo" />
      </div>

      <!-- filters -->
      <div class="flex flex-wrap px-5">
        <div v-for="(value, key) in kindOfList">
          <div
            class="border mx-1 my-1 px-2 rounded"
            :class="[selectedFilter === key? 'bg-red-300' : '']"
            @click="selectFilter(key)"
          >
            {{value}}
          </div>
        </div>
      </div>

      <!-- menus -->
      <div class="m-3 grid-layout">
        <div
          v-for="menu in filteredMenus(selectedFilter)"
          class="my-1 rounded overflow-hidden border bg-white mx-3"
        >
          <div class="w-full flex justify-between p-3">
            <div class="flex">
              <span class="ml-2 font-bold text-sm"> {{menu.name}} </span>
            </div>
            <span class="px-2 hover:bg-gray-300 cursor-pointer rounded">
              <i class="fas fa-ellipsis-h pt-2 text-lg"></i>
            </span>
            <!-- 추천 -->
            <div
              v-if="menu.recommended"
              class="text-sm text-red-300 border rounded px-1"
            >
              추천
            </div>
          </div>

          <div class="px-3">
            <img
              class="w-full rounded object-cover h-44"
              :src="menu.menuImage"
            />
          </div>

          <div class="px-3 text-sm text-gray-300">{{menu.description}}</div>

          <div class="px-3 pb-2">
            <div class="pt-2">
              <i class="far fa-heart cursor-pointer"></i>
              <span class="text-sm text-gray-400 font-medium"> </span>
              <div class="flex flex-col items-end">
                <!-- price -->
                <span class="text-sm text-gray-500 font-medium">
                  {{menu.price}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./menus.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
